NODE_ENV=[dev, production]

#FACEBOOK
FB_GRAPH_VERSION=
# APP ACCESS TOKEN
FB_ACCESS_TOKEN=

# SERVER
PORT=

# Connection to DB
DB_HOST=
DB_PORT=
DB_DIALECT=[mysql, postgres]
# Sequelize logging (true/false)
DB_LOGGING=[true, false]
TZ=UTC

# Session storage
REDIS_HOST=
REDIS_PORT=
REDIS_PREFIX=

# Sign the session ID cookie
SESSION_SECRET=

# Bearer Token expires in miliseconds
BEARER_EXPIRESIN=

# Token used to reset password expires in miliseconds
RESET_EXPIRESIN=

# Bearer Token expires in miliseconds
TOKEN_EXPIRESIN=

#ADMIN
ADMIN_EMAIL=
CLOUD_ERROR_EMAILS=

#BOOTSOCIETY
BOOTSOCIETY_ID=
BOOTSOCIETY_KEY=